@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }

  .promo_header {
    font-size: 50px;
  }

  .reasons_items {
    align-items: flex-start;
  }
  .reasons_descr {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 13px;
  }
  .menu_link {
    font-size: 9px;
  }

  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }

  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .promo_descr {
    font-size: 15px;
  }

  .reasons_items {
    flex-direction: column;
    align-items: center;
  }
  .reasons_descr {
    width: 300px;
    margin-top: 20px;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
}